{% extends 'app/base.html' %}
{% load static %}
{% block content %}
  <h1>Welcome to our website! We are excited to have you here. Our platform offers a range of high-quality products and services designed to make your life easier and more enjoyable. Explore our latest collections, discover new trends, and get inspired by what we have to offer. Whether you're here for a specific product or just browsing, we hope you find exactly what you're looking for.</h1>
  <img class="mylogo" src="{% static 'images/Rejoy Favicon.png' %}">
{% endblock content %}